* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    
    min-height: 100vh; /* Set minimum height of the body to fill the viewport */
    display: flex; /* Use flexbox to align header, main content, and footer */
    flex-direction: column;
}
.header {
    position: fixed; /* Fix the header at the top of the viewport */
    width: 100%; /* Make the header full-width */
    background-color: #ffffff; /* Example background color */
    z-index: 1000; /* Ensure the header is above other content */
}

.main-content {
    padding-top: 100px; /* Adjust the padding-top to account for the header height */
    flex-grow:1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover {
    color: #00BBEE;
}

/* HEADER */
header {
    position: relative;
    /* padding: 0 2rem; */
}

.navbar {
    width: 100%;
    height: 100px;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-right: auto; 
}

.navbar .logo img {
    margin-right: 10px;
    margin-left: 10px;
}

.links-section .links {
    display: flex;
    gap: 3rem;
}
#logo1{
    height: 15vh;
    width: 6vw;
    background-color: #005AAC;
}
.navbar .actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto; 
    margin-right: 20px;
}

.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.register_btn {
    background-color: blue !important;
    color: #fff;
    padding: 22px 25px;
    border: none;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 600px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .register_btn {
    display: block;
    text-align: center;
    margin-top: 10px;
}



/* Responsive Design */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .register_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .navbar .search_btn {
        margin-left: 80px;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

h1{
    padding: 0 440px;
    font-size: 60px;
}
#md{
    display: flex;
    padding: 30px 80px;
    gap: 120px;
}
#md1{
    height: 43vw;
    width: 35vw;
}
#md p{
    font-size: 25px;
}
#md span{
    font-weight: bold;
}

#content5{
    height: 35%;
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    padding:5% 8% 5% 10%;
    background-color:white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

#content5-1{
    height: 75%;
    display: flex;
    justify-content: space-between;
    
}
.transtext{
    height: 35%;
    width: 100%;
    margin-left: 7%;
    font-size: 80px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #005aac;
}
#content5-2{
    height: 50%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color:white;
}
.nrmltext{
    font-size: 20px;
    font-weight: 600;
    padding-top: 1%;
}

#page2{
    height: 100vh;
    width: 100wh;
    
}
#p1{
   display: flex;
   gap: 40px;
   font-size: 5vh;
   justify-content: center;
   padding: 50px;
}

#pimg img{
    padding-left: 100px;
    height: 70vh;
    width: 40vw;
}
#pimg{
    display: flex;
    margin-top: -280px;
}
#pimg p{
    padding-right: 80px;
    font-size: 28px;
}
#pimg p span{
    font-weight: bolder;
}
#pp2{
    padding-top: 80px;
    display: flex;
    margin-bottom: -200px;
}
#p2{
    padding-right: 100px;
    height: 80vh;
    width: 40vw;
}
#pp2 p{
    padding: 80px;
    font-size: 28px;
}
#pp2 p span{
    font-weight: bolder;
}

#page3{
    width: 100vw;
    height: 10vh;  
}

.lower {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; /* Adjust padding as needed */ 
}

.lower-left{
    margin-right: 400px; /* Adjust margin as needed */
}

.lower-right {
    margin-left: 200px; /* Adjust margin as needed */
}

.lower-right ul {
    color: black;
    text-decoration: none;
    display: flex;
    list-style: none;
    padding: 0;
}

.lower-right li {
    margin-left: 20px; /* Adjust margin as needed */
}

.lower-right li:first-child {
    margin-left: 0; /* Remove margin for the first li element */
}

.lower-right li a{
    text-decoration: none;
    color:black;
}

.line {
    width: calc(100% - 40px); /* Adjust width based on margin */
    margin: 0 auto;
    border: none;
    border-top: 1px solid #00BBEE; /* Change border color to blue */
}

.footer {
    height: auto;
    background-color: #ebeced;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    margin-top: 200px;
}

.upper {
    display: flex;
    padding: auto;
    background-color: #ebeced;
    margin-top: -150px;
}

.footer-div {
    display: flex;
    justify-content: center; /* Center the divs horizontally */
}

.footer-div > div {
    margin: 0 65px; /* Add space between the divs */
    text-align: center; /* Center the content inside each div */
}


.div1 img{
    display: flex;
    margin: 0 auto;
}

.div1 p{
    text-align: center;

}

.div2 h6{
    margin: 0 11px;
    
    padding: 20px;
    color: black;
font-size: 20px;
}
.div3 h6{
    margin: 0 11px;
    
    padding: 20px;
    color: black;
font-size: 20px;
}
.div4 h6{
    margin: 0 11px;
    
    padding: 20px;
    color: black;
font-size: 20px;
}
.div2 ul{
    margin: 0 10px;
    padding: 20px;
    color: black;
    font-size: 15px;
    list-style: none;
}

.div2 ul li a{
    line-height: 1.5rem;
    text-decoration: none;
    color: rgb(0, 179, 255);
}
.div4 h4{
    margin: 0 10px;
    padding: 15px;
    color: black;
    font-size: 20px;
}
.div4 ul{
    margin: 0 10px;
    padding: 20px;
    color: black;
    font-size: 15px;
    list-style: none;
}

.div4 ul li a{
    line-height: 1.5rem;
    text-decoration: none;
    color: rgb(0, 179, 255);
}